<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>DemoApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- <servlet>
  	<servlet-name>addNumber</servlet-name>
  	<servlet-class>com.dileep.AddServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>addNumber</servlet-name>
  	<url-pattern>/add</url-pattern>
  </servlet-mapping> -->
  
  <servlet>
  	<servlet-name>SquareNumber</servlet-name>
  	<servlet-class>com.dileep.SquareServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>SquareNumber</servlet-name>
  	<url-pattern>/square</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>MyServlet</servlet-name>
  	<servlet-class>com.dileep.MyServlet</servlet-class>
  	
  	<init-param>
  		<param-name>name</param-name>
  		<param-value>Dileep Dail</param-value>
  	</init-param>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>MyServlet</servlet-name>
  	<url-pattern>/myServlet</url-pattern>
  </servlet-mapping>
  
  <context-param>
  	<param-name>name</param-name>
  	<param-value>Dileep</param-value>
  </context-param>
  
</web-app>